In [28]:
import pandas as pd

# Load the dataset to understand its structure
file_path = 'Dataset Rekomendasi Makanan Favorit.csv'
dataset = pd.read_csv(file_path)

# Display the first few rows of the dataset
dataset.head()

,Umur,Jenis Kelamin,Status,Pendidikan Terakhir,Bidang Pekerjaan,Pendapatan Perbulan,Provinsi,Kabupaten/Kota,Apakah Anda Sering Liburan,Apakah Anda Hobi Kuliner,Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?,Berapa kali anda membeli makanan keluar dalam seminggu?,Suka Pedas,Suka Manis,Suka Asin,Suka Asam,Suka Makanan Berkuah,Prioritas 1,Prioritas 2,Prioritas 3
0,21,Perempuan,Belum Menikah,SMA,Swasta,1.000.000 sampai 5.000.000,Jawa Barat,Kab Bogor,Yes,Yes,30000,7,Ya,Tidak,Ya,Ya,Ya,Seafood,Seblak,Bakso
1,33,Laki - Laki,Sudah Menikah,SMA,Swasta,1.000.000 sampai 5.000.000,Kalimantan Barat,Sekadau,Yes,Yes,30000,1,Tidak,Ya,Tidak,Tidak,Ya,Lamongan,Nasi Padang,Ayam Geprek
2,20,Laki - Laki,Sudah Menikah,SMA,Swasta,5.000.000 sampai 10.000.000,DKI Jakarta,Jakarta selatan,Yes,Yes,"25,000",3,Ya,Ya,Ya,Tidak,Ya,Nasi Padang,Bakso,Tongseng
3,20,Perempuan,Belum Menikah,SMA,Pelajar/Mahasiswa,Belum ada pendapatan,Kalimantan Barat,Kapuas hulu,No,Yes,10000,5,Ya,Ya,Ya,Ya,Ya,Soto Ayam,Seafood,Bubur
4,20,Perempuan,Belum Menikah,SMA,Pelajar/Mahasiswa,Belum ada pendapatan,Kalimantan Barat,Melawi,No,Yes,20000,1,Ya,Ya,Ya,Ya,Ya,Ayam Geprek,Lamongan,Nasi Padang

In [29]:
# Data Cleaning
import pandas as pd

# Load dataset
file_path = 'Dataset Rekomendasi Makanan Favorit.csv'
data = pd.read_csv(file_path)

# Menampilkan informasi awal tentang dataset
initial_info = data.info()
initial_description = data.describe()
initial_head = data.head()

# 1. Menangani nilai yang hilang
# Menghapus baris dengan nilai yang hilang
data_cleaned = data.dropna()

# 2. Menghapus duplikat
data_cleaned = data_cleaned.drop_duplicates()

# 3. Memastikan tipe data benar
# Mengubah tipe data jika diperlukan (misalnya kolom numerik yang terbaca sebagai string)
# Mengubah kolom 'Umur' menjadi tipe numerik
data_cleaned['Umur'] = pd.to_numeric(data_cleaned['Umur'], errors='coerce')

# Menampilkan informasi setelah cleaning
cleaned_info = data_cleaned.info()
cleaned_description = data_cleaned.describe()
cleaned_head = data_cleaned.head()

# Menampilkan DataFrame yang telah dibersihkan
print("Cleaned Dataset:")
print(data_cleaned)

# Menyimpan dataset yang telah dibersihkan ke file baru
cleaned_file_path = 'Dataset Rekomendasi Makanan Favorit_cleaned.csv'
data_cleaned.to_csv(cleaned_file_path, index=False)

# Mengembalikan informasi awal dan setelah cleaning
(initial_info, initial_description, initial_head, cleaned_info, cleaned_description, cleaned_head)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 20 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Umur                                                                 305 non-null    int64
 1   Jenis Kelamin                                                        305 non-null    object
 2   Status                                                               305 non-null    object
 3   Pendidikan Terakhir                                                  305 non-null    object
 4   Bidang Pekerjaan                                                     305 non-null    object
 5   Pendapatan Perbulan                                                  305 non-null    object
 6   Provinsi                                                             305 non-null    object
 7   Kabupaten/Kota                                                       305 non-null    object
 8   Apakah Anda Sering Liburan                                           305 non-null    object
 9   Apakah Anda Hobi Kuliner                                             305 non-null    object
 10  Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  305 non-null    object
 11  Berapa kali anda membeli makanan keluar dalam seminggu?              305 non-null    int64
 12  Suka Pedas                                                           305 non-null    object
 13  Suka Manis                                                           305 non-null    object
 14  Suka Asin                                                            305 non-null    object
 15  Suka Asam                                                            305 non-null    object
 16  Suka Makanan Berkuah                                                 305 non-null    object
 17  Prioritas 1                                                          305 non-null    object
 18  Prioritas 2                                                          305 non-null    object
 19  Prioritas 3                                                          305 non-null    object
dtypes: int64(2), object(18)
memory usage: 47.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 303
Data columns (total 20 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Umur                                                                 297 non-null    int64
 1   Jenis Kelamin                                                        297 non-null    object
 2   Status                                                               297 non-null    object
 3   Pendidikan Terakhir                                                  297 non-null    object
 4   Bidang Pekerjaan                                                     297 non-null    object
 5   Pendapatan Perbulan                                                  297 non-null    object
 6   Provinsi                                                             297 non-null    object
 7   Kabupaten/Kota                                                       297 non-null    object
 8   Apakah Anda Sering Liburan                                           297 non-null    object
 9   Apakah Anda Hobi Kuliner                                             297 non-null    object
 10  Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  297 non-null    object
 11  Berapa kali anda membeli makanan keluar dalam seminggu?              297 non-null    int64
 12  Suka Pedas                                                           297 non-null    object
 13  Suka Manis                                                           297 non-null    object
 14  Suka Asin                                                            297 non-null    object
 15  Suka Asam                                                            297 non-null    object
 16  Suka Makanan Berkuah                                                 297 non-null    object
 17  Prioritas 1                                                          297 non-null    object
 18  Prioritas 2                                                          297 non-null    object
 19  Prioritas 3                                                          297 non-null    object
dtypes: int64(2), object(18)
memory usage: 48.7+ KB
Cleaned Dataset:
     Umur Jenis Kelamin         Status Pendidikan Terakhir  \
0      21     Perempuan  Belum Menikah                 SMA
1      33   Laki - Laki  Sudah Menikah                 SMA
2      20   Laki - Laki  Sudah Menikah                 SMA
3      20     Perempuan  Belum Menikah                 SMA
4      20     Perempuan  Belum Menikah                 SMA
..    ...           ...            ...                 ...
299    44   Laki - Laki  Sudah Menikah                  S1
300    21     Perempuan  Sudah Menikah                 SMA
301    50   Laki - Laki  Sudah Menikah                 SMA
302    45   Laki - Laki  Sudah Menikah                  S1
303    32   Laki - Laki  Sudah Menikah                  S1

         Bidang Pekerjaan          Pendapatan Perbulan          Provinsi  \
0                  Swasta   1.000.000 sampai 5.000.000        Jawa Barat
1                  Swasta   1.000.000 sampai 5.000.000  Kalimantan Barat
2                  Swasta  5.000.000 sampai 10.000.000       DKI Jakarta
3       Pelajar/Mahasiswa         Belum ada pendapatan  Kalimantan Barat
4       Pelajar/Mahasiswa         Belum ada pendapatan  Kalimantan Barat
..                    ...                          ...               ...
299  Pegawai Negeri Sipil   1.000.000 sampai 5.000.000  Kalimantan Barat
300                Swasta   1.000.000 sampai 5.000.000  Kalimantan Barat
301                Petani   1.000.000 sampai 5.000.000  Kalimantan Barat
302  Pegawai Negeri Sipil   1.000.000 sampai 5.000.000  Kalimantan Barat
303  Pegawai Negeri Sipil   1.000.000 sampai 5.000.000  Kalimantan Barat

      Kabupaten/Kota Apakah Anda Sering Liburan Apakah Anda Hobi Kuliner  \
0          Kab Bogor                        Yes                      Yes
1            Sekadau                        Yes                      Yes
2    Jakarta selatan                        Yes                      Yes
3        Kapuas hulu                         No                      Yes
4             Melawi                         No                      Yes
..               ...                        ...                      ...
299          Sintang                        Yes                      Yes
300          Sintang                         No                      Yes
301          Sintang                        Yes                      Yes
302          Sintang                        Yes                      Yes
303          Sintang                         No                      Yes

    Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  \
0                                                30000
1                                                30000
2                                               25,000
3                                                10000
4                                                20000
..                                                 ...
299                                              10000
300                                              10000
301                                              20000
302                                              50000
303                                              30000

     Berapa kali anda membeli makanan keluar dalam seminggu? Suka Pedas  \
0                                                    7               Ya
1                                                    1            Tidak
2                                                    3               Ya
3                                                    5               Ya
4                                                    1               Ya
..                                                 ...              ...
299                                                  6               Ya
300                                                  7               Ya
301                                                  3               Ya
302                                                  7            Tidak
303                                                  6               Ya

    Suka Manis Suka Asin Suka Asam Suka Makanan Berkuah  Prioritas 1  \
0        Tidak        Ya        Ya                   Ya      Seafood
1           Ya     Tidak     Tidak                   Ya     Lamongan
2           Ya        Ya     Tidak                   Ya  Nasi Padang
3           Ya        Ya        Ya                   Ya    Soto Ayam
4           Ya        Ya        Ya                   Ya  Ayam Geprek
..         ...       ...       ...                  ...          ...
299         Ya        Ya        Ya                   Ya        Getuk
300         Ya        Ya        Ya                   Ya    Nasi Uduk
301      Tidak     Tidak     Tidak                   Ya        Bakso
302         Ya        Ya     Tidak                   Ya  Nasi Padang
303      Tidak        Ya     Tidak                   Ya        Bakso

     Prioritas 2  Prioritas 3
0         Seblak        Bakso
1    Nasi Padang  Ayam Geprek
2          Bakso     Tongseng
3        Seafood        Bubur
4       Lamongan  Nasi Padang
..           ...          ...
299        Bubur  Nasi Padang
300    Soto Ayam       Seblak
301    Sayur Sop  Ayam Geprek
302        Bakso         Sate
303  Nasi Padang         Sate

[297 rows x 20 columns]

(None,
              Umur  Berapa kali anda membeli makanan keluar dalam seminggu?
 count  305.000000                                         305.000000
 mean    24.222951                                        2463.813115
 std      9.995532                                       26941.001936
 min     15.000000                                           1.000000
 25%     20.000000                                           3.000000
 50%     21.000000                                           4.000000
 75%     24.000000                                           6.000000
 max    119.000000                                      350000.000000      ,
    Umur Jenis Kelamin         Status Pendidikan Terakhir   Bidang Pekerjaan  \
 0    21     Perempuan  Belum Menikah                 SMA             Swasta
 1    33   Laki - Laki  Sudah Menikah                 SMA             Swasta
 2    20   Laki - Laki  Sudah Menikah                 SMA             Swasta
 3    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa
 4    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa

            Pendapatan Perbulan          Provinsi   Kabupaten/Kota  \
 0   1.000.000 sampai 5.000.000        Jawa Barat        Kab Bogor
 1   1.000.000 sampai 5.000.000  Kalimantan Barat          Sekadau
 2  5.000.000 sampai 10.000.000       DKI Jakarta  Jakarta selatan
 3         Belum ada pendapatan  Kalimantan Barat      Kapuas hulu
 4         Belum ada pendapatan  Kalimantan Barat           Melawi

   Apakah Anda Sering Liburan Apakah Anda Hobi Kuliner  \
 0                        Yes                      Yes
 1                        Yes                      Yes
 2                        Yes                      Yes
 3                         No                      Yes
 4                         No                      Yes

   Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  \
 0                                              30000
 1                                              30000
 2                                             25,000
 3                                              10000
 4                                              20000

    Berapa kali anda membeli makanan keluar dalam seminggu? Suka Pedas  \
 0                                                  7               Ya
 1                                                  1            Tidak
 2                                                  3               Ya
 3                                                  5               Ya
 4                                                  1               Ya

   Suka Manis Suka Asin Suka Asam Suka Makanan Berkuah  Prioritas 1  \
 0      Tidak        Ya        Ya                   Ya      Seafood
 1         Ya     Tidak     Tidak                   Ya     Lamongan
 2         Ya        Ya     Tidak                   Ya  Nasi Padang
 3         Ya        Ya        Ya                   Ya    Soto Ayam
 4         Ya        Ya        Ya                   Ya  Ayam Geprek

    Prioritas 2  Prioritas 3
 0       Seblak        Bakso
 1  Nasi Padang  Ayam Geprek
 2        Bakso     Tongseng
 3      Seafood        Bubur
 4     Lamongan  Nasi Padang  ,
 None,
              Umur  Berapa kali anda membeli makanan keluar dalam seminggu?
 count  297.000000                                         297.000000
 mean    24.296296                                        2530.050505
 std     10.093804                                       27299.568535
 min     15.000000                                           1.000000
 25%     20.000000                                           3.000000
 50%     21.000000                                           4.000000
 75%     24.000000                                           6.000000
 max    119.000000                                      350000.000000      ,
    Umur Jenis Kelamin         Status Pendidikan Terakhir   Bidang Pekerjaan  \
 0    21     Perempuan  Belum Menikah                 SMA             Swasta
 1    33   Laki - Laki  Sudah Menikah                 SMA             Swasta
 2    20   Laki - Laki  Sudah Menikah                 SMA             Swasta
 3    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa
 4    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa

            Pendapatan Perbulan          Provinsi   Kabupaten/Kota  \
 0   1.000.000 sampai 5.000.000        Jawa Barat        Kab Bogor
 1   1.000.000 sampai 5.000.000  Kalimantan Barat          Sekadau
 2  5.000.000 sampai 10.000.000       DKI Jakarta  Jakarta selatan
 3         Belum ada pendapatan  Kalimantan Barat      Kapuas hulu
 4         Belum ada pendapatan  Kalimantan Barat           Melawi

   Apakah Anda Sering Liburan Apakah Anda Hobi Kuliner  \
 0                        Yes                      Yes
 1                        Yes                      Yes
 2                        Yes                      Yes
 3                         No                      Yes
 4                         No                      Yes

   Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  \
 0                                              30000
 1                                              30000
 2                                             25,000
 3                                              10000
 4                                              20000

    Berapa kali anda membeli makanan keluar dalam seminggu? Suka Pedas  \
 0                                                  7               Ya
 1                                                  1            Tidak
 2                                                  3               Ya
 3                                                  5               Ya
 4                                                  1               Ya

   Suka Manis Suka Asin Suka Asam Suka Makanan Berkuah  Prioritas 1  \
 0      Tidak        Ya        Ya                   Ya      Seafood
 1         Ya     Tidak     Tidak                   Ya     Lamongan
 2         Ya        Ya     Tidak                   Ya  Nasi Padang
 3         Ya        Ya        Ya                   Ya    Soto Ayam
 4         Ya        Ya        Ya                   Ya  Ayam Geprek

    Prioritas 2  Prioritas 3
 0       Seblak        Bakso
 1  Nasi Padang  Ayam Geprek
 2        Bakso     Tongseng
 3      Seafood        Bubur
 4     Lamongan  Nasi Padang  )

In [30]:
from IPython.display import display

# Menampilkan DataFrame yang telah dibersihkan
print("Cleaned Dataset:")
display(data_cleaned)

Cleaned Dataset:

,Umur,Jenis Kelamin,Status,Pendidikan Terakhir,Bidang Pekerjaan,Pendapatan Perbulan,Provinsi,Kabupaten/Kota,Apakah Anda Sering Liburan,Apakah Anda Hobi Kuliner,Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?,Berapa kali anda membeli makanan keluar dalam seminggu?,Suka Pedas,Suka Manis,Suka Asin,Suka Asam,Suka Makanan Berkuah,Prioritas 1,Prioritas 2,Prioritas 3
0,21,Perempuan,Belum Menikah,SMA,Swasta,1.000.000 sampai 5.000.000,Jawa Barat,Kab Bogor,Yes,Yes,30000,7,Ya,Tidak,Ya,Ya,Ya,Seafood,Seblak,Bakso
1,33,Laki - Laki,Sudah Menikah,SMA,Swasta,1.000.000 sampai 5.000.000,Kalimantan Barat,Sekadau,Yes,Yes,30000,1,Tidak,Ya,Tidak,Tidak,Ya,Lamongan,Nasi Padang,Ayam Geprek
2,20,Laki - Laki,Sudah Menikah,SMA,Swasta,5.000.000 sampai 10.000.000,DKI Jakarta,Jakarta selatan,Yes,Yes,"25,000",3,Ya,Ya,Ya,Tidak,Ya,Nasi Padang,Bakso,Tongseng
3,20,Perempuan,Belum Menikah,SMA,Pelajar/Mahasiswa,Belum ada pendapatan,Kalimantan Barat,Kapuas hulu,No,Yes,10000,5,Ya,Ya,Ya,Ya,Ya,Soto Ayam,Seafood,Bubur
4,20,Perempuan,Belum Menikah,SMA,Pelajar/Mahasiswa,Belum ada pendapatan,Kalimantan Barat,Melawi,No,Yes,20000,1,Ya,Ya,Ya,Ya,Ya,Ayam Geprek,Lamongan,Nasi Padang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,44,Laki - Laki,Sudah Menikah,S1,Pegawai Negeri Sipil,1.000.000 sampai 5.000.000,Kalimantan Barat,Sintang,Yes,Yes,10000,6,Ya,Ya,Ya,Ya,Ya,Getuk,Bubur,Nasi Padang
300,21,Perempuan,Sudah Menikah,SMA,Swasta,1.000.000 sampai 5.000.000,Kalimantan Barat,Sintang,No,Yes,10000,7,Ya,Ya,Ya,Ya,Ya,Nasi Uduk,Soto Ayam,Seblak
301,50,Laki - Laki,Sudah Menikah,SMA,Petani,1.000.000 sampai 5.000.000,Kalimantan Barat,Sintang,Yes,Yes,20000,3,Ya,Tidak,Tidak,Tidak,Ya,Bakso,Sayur Sop,Ayam Geprek
302,45,Laki - Laki,Sudah Menikah,S1,Pegawai Negeri Sipil,1.000.000 sampai 5.000.000,Kalimantan Barat,Sintang,Yes,Yes,50000,7,Tidak,Ya,Ya,Tidak,Ya,Nasi Padang,Bakso,Sate
303,32,Laki - Laki,Sudah Menikah,S1,Pegawai Negeri Sipil,1.000.000 sampai 5.000.000,Kalimantan Barat,Sintang,No,Yes,30000,6,Ya,Tidak,Ya,Tidak,Ya,Bakso,Nasi Padang,Sate

In [47]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load dataset
file_path = 'Dataset Rekomendasi Makanan Favorit_cleaned.csv'
data = pd.read_csv(file_path)

# Menampilkan informasi awal tentang dataset
print(data.info())
print(data.describe())
print(data.head())

# 1. Menangani nilai yang hilang
# Menghapus baris dengan nilai yang hilang
data_cleaned = data.dropna()

# 2. Menghapus duplikat
data_cleaned = data_cleaned.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 20 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Umur                                                                 297 non-null    int64
 1   Jenis Kelamin                                                        297 non-null    object
 2   Status                                                               297 non-null    object
 3   Pendidikan Terakhir                                                  297 non-null    object
 4   Bidang Pekerjaan                                                     297 non-null    object
 5   Pendapatan Perbulan                                                  297 non-null    object
 6   Provinsi                                                             297 non-null    object
 7   Kabupaten/Kota                                                       297 non-null    object
 8   Apakah Anda Sering Liburan                                           297 non-null    object
 9   Apakah Anda Hobi Kuliner                                             297 non-null    object
 10  Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  297 non-null    object
 11  Berapa kali anda membeli makanan keluar dalam seminggu?              297 non-null    int64
 12  Suka Pedas                                                           297 non-null    object
 13  Suka Manis                                                           297 non-null    object
 14  Suka Asin                                                            297 non-null    object
 15  Suka Asam                                                            297 non-null    object
 16  Suka Makanan Berkuah                                                 297 non-null    object
 17  Prioritas 1                                                          297 non-null    object
 18  Prioritas 2                                                          297 non-null    object
 19  Prioritas 3                                                          297 non-null    object
dtypes: int64(2), object(18)
memory usage: 46.5+ KB
None
             Umur  Berapa kali anda membeli makanan keluar dalam seminggu?
count  297.000000                                         297.000000
mean    24.296296                                        2530.050505
std     10.093804                                       27299.568535
min     15.000000                                           1.000000
25%     20.000000                                           3.000000
50%     21.000000                                           4.000000
75%     24.000000                                           6.000000
max    119.000000                                      350000.000000
   Umur Jenis Kelamin         Status Pendidikan Terakhir   Bidang Pekerjaan  \
0    21     Perempuan  Belum Menikah                 SMA             Swasta
1    33   Laki - Laki  Sudah Menikah                 SMA             Swasta
2    20   Laki - Laki  Sudah Menikah                 SMA             Swasta
3    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa
4    20     Perempuan  Belum Menikah                 SMA  Pelajar/Mahasiswa

           Pendapatan Perbulan          Provinsi   Kabupaten/Kota  \
0   1.000.000 sampai 5.000.000        Jawa Barat        Kab Bogor
1   1.000.000 sampai 5.000.000  Kalimantan Barat          Sekadau
2  5.000.000 sampai 10.000.000       DKI Jakarta  Jakarta selatan
3         Belum ada pendapatan  Kalimantan Barat      Kapuas hulu
4         Belum ada pendapatan  Kalimantan Barat           Melawi

  Apakah Anda Sering Liburan Apakah Anda Hobi Kuliner  \
0                        Yes                      Yes
1                        Yes                      Yes
2                        Yes                      Yes
3                         No                      Yes
4                         No                      Yes

  Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?  \
0                                              30000
1                                              30000
2                                             25,000
3                                              10000
4                                              20000

   Berapa kali anda membeli makanan keluar dalam seminggu? Suka Pedas  \
0                                                  7               Ya
1                                                  1            Tidak
2                                                  3               Ya
3                                                  5               Ya
4                                                  1               Ya

  Suka Manis Suka Asin Suka Asam Suka Makanan Berkuah  Prioritas 1  \
0      Tidak        Ya        Ya                   Ya      Seafood
1         Ya     Tidak     Tidak                   Ya     Lamongan
2         Ya        Ya     Tidak                   Ya  Nasi Padang
3         Ya        Ya        Ya                   Ya    Soto Ayam
4         Ya        Ya        Ya                   Ya  Ayam Geprek

   Prioritas 2  Prioritas 3
0       Seblak        Bakso
1  Nasi Padang  Ayam Geprek
2        Bakso     Tongseng
3      Seafood        Bubur
4     Lamongan  Nasi Padang

In [48]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import joblib
from imblearn.over_sampling import SMOTE

# Load dataset
file_path = 'Dataset Rekomendasi Makanan Favorit_cleaned.csv'
dataset = pd.read_csv(file_path)

# Preprocessing dataset
def convert_income_to_numeric(income):
    if 'sampai' in income:
        return sum(map(int, income.replace('.', '').split(' sampai '))) / 2
    elif 'Belum ada pendapatan' in income:
        return 0
    elif '> 20000000' in income:
        return 20000000
    else:
        return int(income.replace('.', '').replace('>', '').strip())

def convert_spending_to_numeric(spending):
    return int(spending.replace('.', '').replace(',', '').replace('Rp', '').strip())

dataset['Pendapatan Perbulan'] = dataset['Pendapatan Perbulan'].apply(convert_income_to_numeric)
dataset['Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?'] = dataset['Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?'].apply(convert_spending_to_numeric)

categorical_columns = [
    'Jenis Kelamin', 'Status', 'Pendidikan Terakhir', 'Bidang Pekerjaan', 'Provinsi', 'Kabupaten/Kota',
    'Apakah Anda Sering Liburan', 'Apakah Anda Hobi Kuliner', 'Suka Pedas', 'Suka Manis', 'Suka Asin',
    'Suka Asam', 'Suka Makanan Berkuah', 'Prioritas 1', 'Prioritas 2', 'Prioritas 3'
]

dataset_encoded = pd.get_dummies(dataset, columns=categorical_columns)

numerical_columns = ['Umur', 'Pendapatan Perbulan', 'Berapa uang yang anda keluarkan untuk membeli makanan dalam sehari?', 'Berapa kali anda membeli makanan keluar dalam seminggu?']

scaler = StandardScaler()
dataset_encoded[numerical_columns] = scaler.fit_transform(dataset_encoded[numerical_columns])

# Assume target column 'Prioritas 1' for this example
X = dataset_encoded.drop(columns=['Prioritas 1_Seafood', 'Prioritas 1_Lamongan', 'Prioritas 1_Nasi Padang', 'Prioritas 1_Soto Ayam', 'Prioritas 1_Ayam Geprek'])
y = dataset_encoded[['Prioritas 1_Seafood', 'Prioritas 1_Lamongan', 'Prioritas 1_Nasi Padang', 'Prioritas 1_Soto Ayam', 'Prioritas 1_Ayam Geprek']].idxmax(axis=1)

# Menggunakan SMOTE untuk menyeimbangkan dataset
smote = SMOTE(random_state=42)
y_numerical = y.astype('category').cat.codes
X_resampled, y_resampled = smote.fit_resample(X, y_numerical)

# Membagi ulang data latih dan uji
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

# Melatih kembali model Random Forest dengan data yang sudah diseimbangkan
params = {'n_estimators': 200, 'max_depth': 20, 'min_samples_split': 2, 'min_samples_leaf': 1}
rf_model = RandomForestClassifier(**params, random_state=42)
rf_model.fit(X_train, y_train)

# Memprediksi hasil pada data uji
y_pred = rf_model.predict(X_test)

# Menghitung akurasi dan laporan klasifikasi
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred, target_names=y.astype('category').cat.categories)

# Save the model
joblib.dump(rf_model, 'random_forest_model.pkl')
joblib.dump(scaler, 'scaler.pkl')
encoder_columns = dataset_encoded.columns
joblib.dump(encoder_columns, 'encoder_columns.pkl')

print("Accuracy:", accuracy)
print("Classification Report:", report)

Accuracy: 0.9421965317919075
Classification Report:                          precision    recall  f1-score   support

Prioritas 1_Ayam Geprek       0.95      1.00      0.97        36
   Prioritas 1_Lamongan       0.97      1.00      0.98        31
Prioritas 1_Nasi Padang       0.86      0.92      0.89        39
    Prioritas 1_Seafood       0.95      0.73      0.83        26
  Prioritas 1_Soto Ayam       1.00      1.00      1.00        41

               accuracy                           0.94       173
              macro avg       0.94      0.93      0.93       173
           weighted avg       0.94      0.94      0.94       173

In [49]:
# Save the model, scaler, and encoder columns
joblib.dump(rf_model, 'random_forest_model.pkl')
joblib.dump(scaler, 'scaler.pkl')
encoder_columns = dataset_encoded.columns
joblib.dump(encoder_columns, 'encoder_columns.pkl')

['encoder_columns.pkl']